.navbar {
  background-color: rgb(22, 24, 45);
}

.nav-link.active {
  border-bottom: solid 2px #368dc9;
}

body {
  padding-top: 70px;
}

body p,
body ol,
body ul {
  font-family: 'Montserrat', sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body a {
  font-family: 'Raleway', sans-serif;
}

.home-content {
  background: url(../img/portland_dusk.jpg) no-repeat top center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.home-content p {
  color: #a8a8a8;
}

.home-content .jumbotron {
  background: rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #035a96;
  border: none;
}

.btn-primary:hover {
  background-color: #368dc9;
  border: none;
}

.connect-icon {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-body {
  text-align: center;
}

.card-body ul {
  list-style-type: none;
  padding: 0px;
}

.card img {
  width: 100%;
  height: 20vw;
  object-fit: scale-down;
}

hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#rootbeer-float-img {
  float: right;
  width: 40%;
}

.resume-header {
  margin: 10px auto;
  padding: 0px 10px;
}

.resume-dot {
  margin: 0px 10px;
}
